* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    max-width: 1680px;
}

.container {
    padding: 0 150px;
    width: 1380;
}

.line {
    widows: 100%;
    height: 30px;
    background: #04091e;
}


/*Container*/

.container {
    padding: 0 150px;
    width: 1380;
}

.containet_content {
    padding-bottom: 80px;
    padding-top: 100px;
    margin: 0 auto;
    width: 700px;
}

.container_title {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.container_text {
    padding-top: 25px;
    text-align: center;
    font-family: "OpenSans-Bold", sans-serif;
    color: silver;
}

.line {
    widows: 100%;
    height: 30px;
    background: #04091e;
}


/*Heaader*/

.header {
    display: flex;
}

.header_title {
    padding: 25px 0px;
    width: 500px;
    margin: 0 auto;
}

.header_title a {
    color: black;
    text-decoration: none;
}

.header_title p {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: black;
    font-family: "Courier Prime", monospace;
}


/*Nav*/

.nav {
    width: 100%;
    display: flex;
}

.Link {
    padding-top: 25px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-self: center;
    list-style-type: none;
}

.Link li {
    padding: 0 40px;
}

.about {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.learning {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.relax {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #de6320;
}

.Link li a:hover {
    color: #de6320;
    transition: 0.3s linear;
}


/*Inrodact*/

.section_itrodaction {
    width: 100%;
    height: 600px;
    background-image: url(./img/library.png);
}

.introdaction_title {
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding: 280px 0;
    text-align: center;
    color: white;
}


/*Realax*/

.relax_block {
    padding: 50px 0;
    width: 1450px;
    margin: 0 auto;
    display: flex;
}

.relax_item {
    display: block;
}

.holiday {
    margin-right: 50px;
    border: 2px solid #de6320;
    overflow: auto;
    padding: 15px;
    background: white;
    width: 650px;
    height: 500px;
}

.holiday_title {
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.holiday_text {
    font-size: 16px;
    color: rgb(54, 5, 5);
}

.holiday_text img {
    margin: 0 auto;
    padding: 15px 0;
    width: 400;
    height: 330px;
}

.holiday_text .photo2 {
    padding-left: 100px;
    width: 400px;
    height: 300px;
}

.excursion {
    width: 700px;
    height: 223px;
    border: 2px solid #de6320;
    overflow: auto;
    padding: 15px;
    background: white;
}

.excursion_title {
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.excursion_text {
    font-size: 16px;
    color: rgb(54, 5, 5);
}

.excursion_text img {
    padding: 15px 0;
    width: 680px;
    height: 500px;
}

.excursion_block {
    width: 470px;
    display: block;
    margin: 0 auto;
}

.block_item {
    display: flex;
}

.item_img img {
    width: 150px;
    height: 170px;
}

.item_img {
    padding: 0 5px;
}

.item_img2 img {
    padding: 0 5px;
    width: 150px;
    height: 170px;
}

.item_img1 img {
    padding: 0 5px;
    width: 310px;
    height: 170px;
}

.item_img video {
    width: 150px;
    height: 170px;
}

.hobby_title {
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.hobby {
    margin-top: 20px;
    width: 700px;
    height: 223px;
    border: 2px solid #de6320;
    overflow: auto;
    padding: 15px;
    background: white;
}

.hobby_text {
    font-size: 16px;
    color: rgb(54, 5, 5);
}

.sport {
    margin: 0 590px 50px 590px;
    width: 500px;
    height: 400px;
    border: 2px solid #de6320;
    overflow: auto;
    padding: 15px;
    background: white 
}

.sport_title {
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.sport_text {
    font-size: 16px;
    color: rgb(54, 5, 5);
}

.sport_text img {
    width: 500px;
    height: 400px;
}


/*Footer*/

.footer {
    width: 100%;
    height: 400px;
    background: #04091e;
}

.footer_item {
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
}

.footer_advice {
    width: 400px;
    height: 200px;
    text-align: left;
}

.footer_advice_title {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.footer_advice_text {
    padding: 5px;
    font-size: 15px;
    color: grey;
}

.advice {
    padding: 5px;
    display: flex;
}

.advice_area {
    width: 200px;
    height: 50px;
}

.advice_but {
    cursor: pointer;
    width: 80px;
    height: 40px;
    margin-left: 40px;
    margin-top: 65px;
    border: 1px solid #de6320;
    background: #de6320;
}

.advice_but_text {
    color: white;
    padding-top: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.footer_social {
    margin-left: 100px;
    width: 400px;
    height: 200px;
}

.social_text {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.social {
    padding: 10px;
}

.tel {
    color: grey;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.fas {
    padding-top: 10px;
    color: #de6320;
}

.email {
    color: grey;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.far {
    padding-bottom: 10px;
    padding-top: 10px;
    color: #de6320;
}

.social_network {
    width: 400px;
    height: 200px;
}

.net_text {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.network {
    font-size: 15px;
    color: gray;
    padding: 20px 5px;
}

.faceboock a {
    color: gray;
    text-decoration: none;
}

.instagram a {
    color: gray;
    text-decoration: none;
}

.fab {
    padding-top: 10px;
    color: #de6320;
}