* {
    margin: 0;
    padding: 0;
}


}

body {
    width: 100%;
    max-width: 1680px;
}

.Map {
    margin: 0 auto;
    width: 700px;
    height: 500px;
}


/*Container*/

.container {
    padding: 0 150px;
    width: 1380;
}

.containet_content {
    padding-bottom: 80px;
    padding-top: 100px;
    margin: 0 auto;
    width: 700px;
}

.container_title {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.container_text {
    padding-top: 25px;
    text-align: left;
    font-family: "OpenSans-Bold", sans-serif;
    color: rgb(54, 5, 5);
    font-size: 18px;
}

.line {
    width: 100%;
    height: 30px;
    background: #04091e;
}


/*Heaader*/

.header {
    display: flex;
}

.header_title {
    padding: 25px 0px;
    width: 500px;
    margin: 0 auto;
}

.header_title p {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: black;
    font-family: "Courier Prime", monospace;
}

.header_title a {
    text-decoration: none;
}


/*Nav*/

.nav {
    width: 100%;
    display: flex;
}

.Link {
    padding-top: 25px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-self: center;
    list-style-type: none;
}

.Link li {
    padding: 0 40px;
}

.Link li a {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.Link li a:hover {
    color: #de6320;
    transition: 0.3s linear;
}


/*School*/

.school {
    width: 100%;
    height: 600px;
    background-image: url(./img/library.png);
    background-repeat: no-repeat;
}

.school_title {
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding: 280px 0;
    text-align: center;
    color: white;
}

.school_img {
    width: 1300px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
}

.school_item1 {
    padding-right: 10px;
}

.school_item1 img {
    width: 500px;
    height: 300px;
}

.school_item {
    padding-right: 10px;
}

.school_item img {
    width: 400px;
    height: 300px;
}


/*Footer*/

.footer {
    width: 100%;
    height: 400px;
    background: #04091e;
}

.footer_item {
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
}

.footer_advice {
    width: 400px;
    height: 200px;
    text-align: left;
}

.footer_advice_title {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.footer_advice_text {
    padding: 5px;
    font-size: 15px;
    color: grey;
}

.advice {
    padding: 5px;
    display: flex;
}

.advice_area {
    width: 200px;
    height: 50px;
}

.advice_but {
    cursor: pointer;
    width: 80px;
    height: 40px;
    margin-left: 40px;
    margin-top: 65px;
    border: 1px solid #de6320;
    background: #de6320;
}

.advice_but_text {
    color: white;
    padding-top: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.footer_social {
    margin-left: 100px;
    width: 400px;
    height: 200px;
}

.social_text {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.social {
    padding: 10px;
}

.tel {
    color: grey;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.fas {
    padding-top: 10px;
    color: #de6320;
}

.email {
    color: grey;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.far {
    padding-bottom: 10px;
    padding-top: 10px;
    color: #de6320;
}

.social_network {
    width: 400px;
    height: 200px;
}

.net_text {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.network {
    font-size: 15px;
    color: gray;
    padding: 20px 5px;
}

.faceboock a {
    color: gray;
    text-decoration: none;
}

.instagram a {
    color: gray;
    text-decoration: none;
}

.fab {
    padding-top: 10px;
    color: #de6320;
}